.editor-container {
  flex: 1;
  height: 100%;
  border-right: 1px solid black;
  padding: 10px;

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .toolbar-inner {
      border: none;
      border-radius: 4px;
      padding: 4px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .editor-inner {
    .align-left div {
      text-align: left;
    }

    .align-center div {
      text-align: center;
    }

    .align-right div {
      text-align: right;
    }

    blockquote {
      border-left: 10px solid black;
    }
  }
}
