.editor-container {
  flex: 1;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 1px 4px rgba(19, 24, 48, 0.2);
  font-family: 'Noto Sans KR';

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .toolbar-inner {
      border: none;
      border-radius: 4px;
      padding: 4px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .content-container {
    .align-left div {
      text-align: left;
    }

    .align-center div {
      text-align: center;
    }

    .align-right div {
      text-align: right;
    }

    blockquote {
      border-left: 5px solid #2196f3;
      background-color: #e3f2fd;
      padding: 15px 10px 15px 20px;
    }

    pre {
      color: #abb2bf;
      padding: 10px 5px 10px 15px;

      &:nth-of-type(odd) {
        background-color: #282c34;
      }
      &:nth-of-type(even) {
        background-color: #2d3138;
      }
    }
  }
}
